body {
  background: white;
}
#main-doc {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 25%;
  font-family: "Courier New", Courier, monospace;
}
.main-section {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}
.main-section:last-child {
  border-bottom: none;
}

#introduction h1 {
  text-align: center;
  font-size: 2em;
}

h1 {
  text-align: center;
}
#nav-bar {
  text-align: center;
  height: 100%;
  width: 20%;
  position: fixed;
  left: 0;
  padding-top: 60px;
  background: lightgray;
}
#navHeader {
  color: black;
  margin-bottom: 40px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: 16px 20px;
  color: black;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 1px solid black;
}
a:hover {
  background-color: darkgray;
  color: white;
}
a:active {
  background-color: black;
  color: white;
}

pre {
  background-color: lightgrey;
  width: 100%;
  border: 1px solid black;
}
@media (max-width: 900px) {
  #nav-bar {
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .nav-link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 0;
    margin: 0;
    border: 1px solid black;
  }
}
@media (max-width: 900px) {
  #navHeader {
    display: none;
  }
}
